
<div>
  <% if @mainmenu then %>
    <div>
      <%= image_tag(@mainmenu.avatar_url, style: "width: 868px; height: 300px") if @mainmenu.avatar? %>
    </div>

    <div style="margin-top: 20px">
      <%= @mainmenu.content.html_safe %>
    </div>
  <% end %>
</div>
