<table class="table">
  <tbody>
    <% @papers.each do |paper| %>
      <tr>
        <td>
            <b>&bull;
              <a href="#" style="color: black">
                <%= paper.title %>
              </a>
            </b>
            <div style="margin-left: 8px">
              <p>
                <%= paper.description %>
                [<%= link_to_if paper.avatar?, "read more", paper.avatar_url, target: "_blank" %>]
              </p>
            </div>
        </td>

      </tr>
    <% end %>
  </tbody>
</table>

